.dashboard-card-container {
    display: flex;
    margin-bottom: 10px;
}
.dashboard-card {
    position: relative;
    flex: 1;
    padding: 10px 15px;
    border-radius: 5px;
    /* border: 0.5px solid rgba(0, 0, 0, 0.6); */
    margin-right: 10px;
    color: rgb(235, 235, 235);
    overflow: hidden;
}
.dashboard-card:last-child {
    margin-right: 0px;
}
.dashboard-card .card-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
.dashboard-card .circle-1 {
    position: absolute;
    height: 80px;
    width: 80px;
    right: -64px;
    top: 13px;
    transform: translate(-52%, -50%);
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 50%;
}
.dashboard-card .circle-2 {   
     position: absolute;
    height: 60px;
    width: 60px;
    left: 34%;
    bottom: -50%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 50%;
}
.dashboard-card .left-line {
    position: absolute;
    height: 100%;
    width: 10px;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}