.management-user-card {
    position: relative;
    margin-bottom: 10px;
}
.management-user-card .details > input {
    position: absolute;
    left: 10px;
    top: 30px;
    transform: translate(0, -50%);
}
.management-user-card .username {   
    padding-left: 20px;
}
.management-user-card .details > span {
    padding: 20px 10px;
    border-radius: 10px;
    display: block;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}
.management-user-card .details >  input:checked ~ span {
    background: rgb(8, 156, 255, 0.1);
}
.users-container ul {
    list-style: decimal;
    margin-left: 20px;
}
.users-container > div {
    display: flex;
    flex: 1;
}
.users-container > div > div {
    flex: 1;
}
.users-container > div > div:nth-child(1) {
    margin-right: 10px;
}