.management-user-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    width: 350px;
    padding: 20px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    display: none;
    border: 5px solid rgb(238, 104, 51);
}
.management-user-dialog > div {

}
.management-user-dialog form {
    display: flex;
    flex-direction: column;
}
.management-user-dialog form input {
}