.signin-cover {
    background-image: url('../../../public/images/signup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signin-cover form {
    width: 400px;
}

#signin-form .logo {
    height: 65px;
}